.main-content {
    width: calc(100% - 240px);
    margin-left: 240px;
    transition: 300ms linear;
    padding: 15px 0px;
}

.page-info {
    margin-bottom: 15px;

    .page-title {
        font-weight: 500;
        font-size: 1.25rem;
    }

    .page-description {
        font-weight: 300;
    }
}