$primary: #009E5F;
$primary_light: #4caf4f31;
$secondary: #8699ad;
$dark: #14171a;
$secondary_dark: #0d100e;
$light: #fff;
$secondary_light: #b4c9de;

$gray: #a9a9a9;
$gray_light: #f1f0f0;

$body_bg: #f0f5f6;
$color_white: #fff;
$color-gray-light: #CBD5E1;


$font-primary: 'Inter', sans-serif;
$font-secondary: 'Poppins', sans-serif;
