@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  outline: none;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  line-height: normal;
  background: #f0f5f6;
}

img {
  max-width: 100%;
}

p,
ul,
ol {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  margin: 0;
  padding: 0;
  color: #14171a;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 14px;
  font-weight: 500;
}

.btn {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
.btn.btn-outline-success {
  color: #4caf50;
  border-color: #4caf50;
}
.btn.btn-outline-success:hover {
  color: #fff;
  background-color: #4caf50;
}

::-webkit-scrollbar {
  width: 5px;
  display: block;
}

:hover::-webkit-scrollbar {
  display: block;
}

::-webkit-scrollbar-track {
  width: 100%;
  background: #f1f0f0;
}

::-webkit-scrollbar-thumb {
  width: 100%;
  background: #a9a9a9;
}

::-webkit-scrollbar-thumb:hover {
  background: #4caf50;
}

.page-wrapper {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  position: relative;
}

.header-area {
  background: #4caf50;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.header-logo {
  min-width: 240px;
  max-width: 240px;
  text-align: center;
  background: rgba(20, 23, 26, 0.1411764706);
  padding: 6px 0px;
  position: relative;
  transition: 300ms linear;
}
.header-logo a {
  text-decoration: none;
}
.header-logo a h3 {
  color: #FFF;
  font-weight: 600;
  margin: 0;
  padding: 0;
  font-size: 20px;
  padding: 5px;
}
.header-logo.no-header-logo {
  max-width: 0px;
  min-width: 0px;
  transition: 300ms linear;
}
.header-logo.no-header-logo a {
  display: none;
}

.nav-bar {
  position: absolute;
  left: auto;
  right: -30px;
  top: 10px;
  font-size: 20px;
  cursor: pointer;
}

.header-nav {
  padding: 0px 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header-nav .nav-items .nav-item .dropdown .dropdown-toggle {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  display: flex;
  align-items: center;
  -moz-column-gap: 5px;
       column-gap: 5px;
}
.header-nav .nav-items .nav-item .dropdown .dropdown-toggle i.bx {
  font-size: 1.5rem;
}

.header-form {
  display: flex;
  align-items: center;
}

.search_form {
  background: rgba(0, 0, 0, 0.0784313725);
  width: 391px;
  padding: 3px 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.search_form .custom-search-control {
  background: none;
  border: none;
  width: calc(100% - 50px);
  height: 30px;
  outline: none;
  color: #FFF;
}
.search_form .custom-search-control::-moz-placeholder {
  color: #f6f6f6;
}
.search_form .custom-search-control:-ms-input-placeholder {
  color: #f6f6f6;
}
.search_form .custom-search-control::placeholder {
  color: #f6f6f6;
}

.search-icon {
  padding-top: 3px;
  width: 25px;
  font-size: 16px;
  color: #F6F6F6;
}

.wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: left;
  width: 100%;
  min-height: calc(100% - 50px);
  top: 50px;
  overflow: hidden;
}

.main-content {
  width: calc(100% - 240px);
  margin-left: 240px;
  transition: 300ms linear;
  padding: 15px;
}

.page-info {
  margin-bottom: 15px;
}
.page-info .page-title {
  font-weight: 500;
  font-size: 1.25rem;
}
.page-info .page-description {
  font-weight: 300;
}

.sidebar-area {
  min-width: 240px;
  max-width: 240px;
  background: #14171a;
  position: fixed;
  left: 0;
  top: 0px;
  padding-top: 50px;
  height: 100%;
  overflow-y: auto;
  transition: 300ms linear;
}

.no-sidebar .sidebar-menu-area {
  min-width: 0px;
  max-width: 0px;
  left: -240px;
  transition: 300ms linear;
}
.no-sidebar .main-content-area {
  width: 100%;
  margin-left: 0px;
  transition: 300ms linear;
}

.sidebar-menu li {
  position: relative;
  z-index: 1;
}
.sidebar-menu li a {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px;
  color: #b4c9de;
  font-weight: 400;
  text-transform: capitalize;
  border-left: 3px solid transparent;
  text-decoration: none;
}
.sidebar-menu li a i {
  max-width: 25px;
  width: 25px;
  font-size: 0.875rem;
}
.sidebar-menu li a span {
  transition-duration: 300ms;
  max-width: calc(100% - 30px);
  width: calc(100% - 30px);
  font-size: 1rem;
}
.sidebar-menu li a i.bx.bx-chevron-down {
  font-size: 18px;
  transform: rotate(-180deg);
  transition: 200ms;
  width: auto;
}
.sidebar-menu li a:hover {
  color: #e2e2e2 !important;
}
.sidebar-menu li.active a, .sidebar-menu li.menu-open a {
  color: #4caf50;
  background-color: #0d100e;
  border-left: 3px solid #4caf50;
}
.sidebar-menu li.active a i.bx.bx-chevron-down, .sidebar-menu li.menu-open a i.bx.bx-chevron-down {
  font-size: 18px;
  transform: rotate(0deg);
}
.sidebar-menu li .treeview-menu {
  display: none;
  margin-left: 30px;
  margin-top: 5px;
  margin-bottom: 10px;
}
.sidebar-menu li .treeview-menu .treeview-menu {
  margin-left: 15px;
}
.sidebar-menu li .treeview-menu li.active {
  color: #b4c9de;
}
.sidebar-menu li .treeview-menu li a {
  font-size: 14px;
  color: #8699ad;
  margin-left: 0;
  margin-right: 0;
  position: relative;
  z-index: 1;
  padding: 7px 10px;
  background: none;
  border: none;
}
.sidebar-menu li .treeview-menu li a:hover {
  color: #8699ad;
}
.sidebar-menu li .menu-open a .fa-angle-right {
  transform: rotate(90deg);
}
.sidebar-menu li .menu-open .treeview-menu a .fa-angle-right {
  transform: rotate(0deg);
}
.sidebar-menu li .menu-open .treeview-menu .menu-open a .fa-angle-right {
  transform: rotate(90deg);
}
.sidebar-menu li .menu-open .treeview-menu .treeview-menu a .fa-angle-right {
  transform: rotate(0deg);
}
.sidebar-menu li .menu-open .treeview-menu .treeview-menu .menu-open a .fa-angle-right {
  transform: rotate(90deg);
}

.side-menu-area .sidebar-menu li a span {
  line-height: 1;
  transition-duration: 300ms;
}
.side-menu-area .sidebar-menu.active .treeview-menu {
  display: block;
}

.box {
  background-color: #fff;
  border-radius: 10px;
  padding: 0px 15px;
  overflow-y: auto;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.0509803922);
  margin-bottom: 30px;
}
.box .box-header {
  border-bottom: 1px solid #CBD5E1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0px 10px;
}
.box .box-header .box-title h4 {
  font-size: 1.125rem;
  font-weight: 500;
}
.box .box-header .box-action ul {
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.box .box-body {
  padding: 15px 0px;
}
.box .box-footer {
  padding: 10px 0px;
}

.table {
  overflow: hidden;
}
.table thead tr {
  border-bottom: 1px solid #CBD5E1;
}
.table thead tr th {
  font-size: 1rem;
  font-weight: 500;
  padding: 7px 10px;
  border-bottom: none;
}
.table tbody tr {
  border-bottom: 1px solid #f1f0f0;
  position: relative;
  cursor: pointer;
}
.table tbody tr td {
  font-size: 0.875rem;
  font-weight: 300;
  color: #0d100e;
  border-bottom: none;
  padding: 7px 10px;
  vertical-align: middle;
}
.table tbody tr td .action {
  display: flex;
  justify-content: flex-center;
  align-items: center;
  -moz-column-gap: 5px;
       column-gap: 5px;
  flex-wrap: wrap;
}
.table tbody tr td .action .btn.btn-sm {
  font-size: 1rem;
  line-height: 0;
  padding: 5px;
  border-radius: 50%;
}
.table tbody tr::after {
  position: absolute;
  content: "";
  top: 0;
  left: -4px;
  width: 4px;
  height: 100%;
  background-color: #4caf50;
  border-radius: 5px 0px 0px 5px;
}
.table tbody tr:hover {
  background-color: #f1f0f0;
}
.table tbody tr:hover::after {
  left: 0px;
  transition: 250ms;
}
.table > :not(:first-child) {
  border-top: 0px solid #b4c9de !important;
}

.form-group {
  margin-bottom: 15px;
}
.form-group label {
  color: #14171a;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  margin-bottom: 5px;
}
.form-group .form-control {
  font-size: 0.875rem;
  font-weight: 400;
  color: #14171a;
  height: 40px;
}
.form-group .form-control:focus {
  box-shadow: none;
  border-color: #4caf50;
}
.form-group .form-control::-moz-placeholder {
  font-weight: 300;
}
.form-group .form-control:-ms-input-placeholder {
  font-weight: 300;
}
.form-group .form-control::placeholder {
  font-weight: 300;
}

.login-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-container .login-content {
  width: 450px;
  background-color: #fff;
  padding: 15px 30px;
  border-radius: 10px;
  padding-bottom: 30px;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.0823529412);
}
.login-container .login-content .login-header {
  margin-bottom: 15px;
  text-align: center;
  padding: 15px 0px;
}
.login-container .login-content .login-header img {
  margin-bottom: 20px;
}
.login-container .login-content .login-body .form-group {
  margin-bottom: 20px;
}
.login-container .login-content .login-body .form-group .form-control {
  height: 45px;
  border: none;
}
.login-container .login-content .login-body .form-group .input-group {
  border: 1px solid #f1f0f0;
  border-radius: 5px;
}
.login-container .login-content .login-body .form-group .input-group .input-group-text {
  border: none;
  background-color: #f1f0f0;
  color: #4caf50;
  font-size: 1.125rem;
}
.login-container .login-content .login-body .form-group .form-check {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.login-container .login-content .login-body .form-group .form-check .form-check-input {
  width: 15px;
  height: 15px;
}
.login-container .login-content .login-body .form-group .form-check .form-check-input:checked {
  background-color: #4caf50;
  border-color: #4caf50;
}
.login-container .login-content .login-body .form-group .form-check label {
  font-weight: 300;
  margin-bottom: 0px;
}
.login-container .login-content .login-body .form-group .btn.btn-success {
  background-color: #4caf50;
  border: none;
  padding: 10px 0px;
  font-size: 1.125rem;
  font-weight: 500;
}/*# sourceMappingURL=style.css.map */